In [1]:
from glob import glob
import pandas as pd
import chardet

In [2]:
csv_list=glob(r'D:\따릉이 대여소 데이터\서울시따릉이*')

In [3]:
len(csv_list)

12

In [4]:
df0=pd.read_csv(csv_list[0],encoding='cp949')
df1=pd.read_csv(csv_list[1],encoding='cp949')
df2=pd.read_csv(csv_list[2],encoding='cp949')
df3=pd.read_csv(csv_list[3],encoding='cp949')
df4=pd.read_csv(csv_list[4],encoding='cp949')
df5=pd.read_csv(csv_list[5],encoding='cp949')
df6=pd.read_csv(csv_list[6],encoding='cp949')
df7=pd.read_csv(csv_list[7],encoding='cp949')
df8=pd.read_csv(csv_list[8],encoding='cp949')
df9=pd.read_csv(csv_list[9],encoding='cp949')
df10=pd.read_csv(csv_list[10],encoding='utf-8')
df11=pd.read_csv(csv_list[11],encoding='utf-8')

기준일자 시작대여소id 전체건수

In [5]:
columns=['기준일자', '구분코드', '기준시간대', '시작대여소ID', '시작대여소명', '종료대여소ID', '종료대여소명',
       '전체건수', '전체이용시간(분)', '전체이용거리(M)']

In [6]:
df0=df0[columns]

In [7]:
df_list=[df0,df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11]

In [18]:
date=[]
station_id=[]
total_num=[]

In [19]:
for i in range(len(df_list)):
    df_list[i].loc[len(df_list[i])]=df_list[i].columns
    df_list[i].columns=columns
    date+=df_list[i].기준일자.tolist()
    station_id+=df_list[i].시작대여소ID.tolist()
    total_num+=df_list[i].전체건수.tolist()
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [20]:
len(date)

70296301

In [23]:
dataFrame = pd.DataFrame({'기준일자':date,'시작대여소ID':station_id,'전체건수':total_num})

In [25]:
dataFrame.to_csv('따릉이22년통합data.csv',encoding='cp949')